<div>
    <div>
        <div style="display: block">
            <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
            </canvas>
        </div>
        <button mat-button
            mat-raised-button
            color="primary"
            class="btn btn-primary btn-block"
            (click)="randomize()">Update</button>
    </div>
</div>