<div class="container">
  <h1>Gráficos dinámicos <small>Angular</small></h1>

  <!-- <app-linea></app-linea> -->
  <!-- <app-barra></app-barra> -->
  <!-- <app-donuts></app-donuts> -->
  <app-radar></app-radar>
</div>