<div class="row">
    <div class="col-md-8">
        <div style="display: block">
            <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType">
            </canvas>
        </div>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary btn-block"
            type="button"
            (click)="numeros_random()">
            Actualizar
        </button>
    </div>
</div>